
    <footer>
        <div class="footer-container">
            <div class="footer-section">
                <h3>Sobre Nosotros</h3>
                <ul>
                    <li><a href="/index.html#info-quienes-somos">Quiénes somos</a></li>
                </ul>
            </div>

            <div class="footer-section">
                <h3>Servicios</h3>
                <ul>
                    <li><a href="/buscar_inmuebles.html">Propiedades</a></li>
                    <li><a href="/venta.html">Asesoria compra y venta</a></li>
                    <li><a href="/arriendos.html">Administracion de inmuebles</a></li>
                    <li><a href="/juridica.html">Asesoria juridica</a></li>
                    
                    
                </ul>
            </div>

            <div class="footer-section">
                <h3>Contacto</h3>
                <ul>
                    <li><a href="mailto:info@reinmobiliariasas.com">info@reinmobiliariasas.com</a></li>
                    <li><a href="https://wa.me/573213770000?text=Hola%20me%20gustaria%20hablar%20con%20un%20asesor">+57 321 377 0000</a></li>
                    <li>Dirección: Av Kr 50 # 8 - 31 sur</li>
                </ul>
            </div>

            <div class="footer-section">
                <h3>Síguenos</h3>
                <ul>
                    <li><a href="https://www.facebook.com/REinmobiSAS">Facebook</a></li>
                    <li><a href="https://www.instagram.com/reinmobisas/">Instagram</a></li>
                    <li><a href="https://www.tiktok.com/@re_inmobiliaria">Tiktok</a></li>
                </ul>
            </div>
        </div>

        <div class="footer-bottom">
            <p>&copy; 2026 Re inmobiliaria. Todos los derechos reservados.</p>
        </div>
    </footer>